/.env.production
/.env.ng

/node_modules/

/data/.~*
/data/wikidata_cache/

/frontend/public/*.html
/frontend/public/*.css
/frontend/public/*.js
/frontend/public/*.json
/frontend/public/*.json.gz
/frontend/public/*.txt
