range-control {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .graph {
    flex-grow: 1;
    overflow: clip;

    svg {
      width: 100%;
      height: 100%;
      overflow: visible;

      rect {
        transition:
          height 0.5s ease-out,
          y 0.5s ease-out;
      }
    }
  }


  .literals {
    display: flex;
    justify-content: space-between;
  }
}
