<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>Deutsch-Französische Kunstvermittlung 1871–1940 und 1945-1960</title>

    <link rel="stylesheet" type="text/css" href="<%= stylesheet_path('app.css') %>">
  </head>
  <body class="development">
    <h1>Deutsch-Französische Kunstvermittlung 1871–1940 und 1945-1960</h1>

    <p>
      Die französische Kunst in deutschen Zeitschriften - Die deutsche Kunst in
      französischen Zeitschriften (1871-1940) Die vom Deutschen Forum für
      Kunstgeschichte erstellten Datenbanken „Deutsch-französische Kunstvermittlung
      1871-1940 (Paris)“ und „Deutsch-französische Kunstvermittlung 1871-1940
      (Berlin)“ präsentieren Texte, die zwischen 1870 und 1940 in deutschen und
      französischen Zeitschriften veröffentlicht wurden und zum großen Teil nur
      wenig bekannt sind. Die untersuchten Ausstellungsbesprechungen, Bücher,
      Reiseberichte und monographischen Artikel beschäftigen sich mit der Kunst des
      Nachbarlandes und behandeln vor allem die Malerei, gelegentlich auch Skulptur,
      Architektur, Kunsthandwerk und Graphik.
    </p>

    <dfkv-search url="http://localhost:3000"></dfkv-search>

    <ul>
      <li>Deutsch-französische Kunstvermittlung 1871-1940 (Paris)</li>
      <li>Deutsch-französische Kunstvermittlung 1871-1940 (Berlin)</li>
      <li>Deutsch-französische Kunstvermittlung 1945-1960 (Paris)</li>
    </ul>

    <p>
      Die Datenbanken erheben keinen Anspruch auf Vollständigkeit. Neben einigen
      systematisch ausgewerteten Revuen, wie l’Amour de l’art, Cahiers d’art,
      Formes, la Gazette des Beaux-Arts, Le Mercure de France, La Revue blanche auf
      französischer Seite, sowie Das Atelier, Das Kunstblatt, Der Cicerone, Der
      Kunstwart, Der Querschnitt, Der Sturm, Deutsche Kunst und Dekoration,
      Deutsch-französische Rundschau, Die Aktion, Die Christliche Kunst, Die Kunst
      für alle, Die Kunst im Dritten Reich, Die Kunst-Halle, Die Weltkunst, Feuer,
      Jahrbuch der jungen Kunst, Genius, Kunst und Künstler, Pan, Pantheon, Pariser
      Tageszeitung, Zeitschrift für bildende Kunst, Zeitschrift für Kunstgeschichte
      auf deutscher Seite, wurden andere nur punktuell bearbeitet und dies im Rahmen
      von Forschungsprojekten des Deutschen Forums für Kunstgeschichte (siehe die
      unten genannten Publikationen).
    </p>

    <p>
      Die angebotenen Recherchemöglichkeiten ermöglichen einen neuen Blick auf die
      Geschichte der künstlerischen Beziehungen zwischen Frankreich und Deutschland
      und zeigt die Notwendigkeit auf, den allzu oft eingefahrenen und stereotypen
      Diskurs zu nuancieren. Die Datenbanken richten sich an Forscher, Amateure und
      Interessierte, die sich für Kunst und die deutsch-französischen Beziehungen
      interessieren.
    </p>

    <p>
      Das Projekt wurde 1999 auf Initiative von Thomas W. Gaehtgens, Direktor des
      Deutschen Forums für Kunstgeschichte (bis 2007), Uwe Fleckner und Martin
      Schieder in die Wege geleitet und durch die großzügige Unterstützung der
      Volkswagenstiftung und des Getty Grant Programms ermöglicht, denen wir an
      dieser Stelle sehr herzlich danken.
    </p>

    <h2>Mitarbeiter:</h2>

    <p>
      Folgende Mitarbeiter waren an diesem Forschungsprojekt beteiligt: in Berlin
      Sabine Beneke, Knut Helms, Gitta Ho, Andreas Holleczek, Godehard Janzing,
      Friederike Kitschen, Andrea Meyer und Julia Schnitker; in Paris Mathilde
      Arnoux, Markus Castor, Isabelle Dubois, Rachel Esner, Marie Gispert, Béatrice
      Joyeux, Alexandre Kostka, Peter Kropmanns und Olivia Tolède.
    </p>

    <h2>Publikationen:</h2>

    <p>
      Die Auswertung der Datenbanken hat bereits zu folgenden Publikationen geführt:
    </p>

    <ul>
      <li>
        Uwe Fleckner und Thomas W. Gaehtgens (dir.), <em>Prenez garde à la peinture
        ! Kunstkritik in Frankreich 1900-1945</em>,
        <a
          href="http://aleph.mpg.de/F?func=direct&doc_number=000544999&local_base=kub01"
          target="_blank"
          rel="noopener"
        >Passagen/Passages, Bd. 1, Berlin, Akademie-Verlag, 1999</a>.
      </li>
      <li>
        Uwe Fleckner und Thomas W. Gaehtgens (dir.), <em>De Grünewald à Menzel.
        L'image de l'art allemand en France au XIXe siècle</em>,
        <a
          href="http://aleph.mpg.de/F?func=direct&doc_number=000200105&local_base=kub01"
          target="_blank"
          rel="noopener"
        >Passagen/Passages, Bd. 6, Paris, Éditions de la Maison des Sciences de l'homme, 2003</a>.
      </li>
      <li>
        Andreas Holleczek und Andrea Meyer (dir.), <em>Französische Kunst – Deutsche
        Perspektiven. Quellen und Kommentare zur Kunstkritik 1870-1945</em>,
        <a
          href="http://aleph.mpg.de/F?func=direct&doc_number=000233291&local_base=kub01"
          target="_blank"
          rel="noopener"
        >Passagen/Passages, Bd. 7, Berlin, Akademie-Verlag, 2004</a>.
      </li>
      <li>
        Alexandre Kostka und Françoise Lucbert (dir.), <em>Distanz und Aneignung.
        Relations artistiques entre la France et l’Allemagne, Kunstbeziehungen
        zwischen Deutschland und Frankreich 1870-1945</em>,
        <a
          href="http://aleph.mpg.de/F?func=direct&doc_number=000546688&local_base=kub01"
          target="_blank"
          rel="noopener"
        >Passagen/Passages, Bd. 8, Berlin, Akademie-Verlag, 2004</a>.
      </li>
      <li>
        Friederike Kitschen et Julia Drost (dir.), <em>Deutsche Kunst – Französische
        Perspektiven. Quellen und Kommentare zur Kunstkritik 1870-1945</em>,
        <a
          href="http://aleph.mpg.de/F?func=direct&doc_number=000098162&local_base=kub01"
          target="_blank"
          rel="noopener"
        >Passagen/Passages, Bd. 9, Berlin, Akademie-Verlag, 2007</a>.
      </li>
      <li>
        Eine Auswahl der Beiträge zu den Passagen-Bänden 7 und 9 ist in
        französischer Sprache abgedruckt in Gaehtgens Thomas W. , Mathilde Arnoux
        und Friederike Kitschen (dir.), <em>Perspectives croisées. La critique d’art
        franco-allemande 1870-1945</em>,
        <a
          href="http://aleph.mpg.de/F?func=direct&doc_number=000322744&local_base=kub01"
          target="_blank"
          rel="noopener"
        >Passagen/Passages, Bd. 22, Paris, Éditions de la Maison des Sciences de l'homme, 2009</a>.
      </li>
    </ul>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="<%= script_path('app-noboot.js') %>"></script>
    <script type="text/javascript">
      $(document).ready(function(event) {
        wApp.setup()
      })
    </script>
  </body>
</html>
