[is='dfkv'] {
  display: flex;
  justify-content: flex-start;
  margin-right: 4.5vw;

  dfkv-search-results {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;
    margin-left: 80px;

    [many-results] {
      svg {
        fill: gray;
      }
    }

    .search-results {
      width: 100%;
    }

    dfk-pagination {
      height: 21px;
    }
  }
}

.search-result {
  position: relative;

  dfk-icon {
    width: 20px;
  }

  dfkv-bookmark {
    position: absolute;
    top: 42px;
    left: -40px;
  }
}

dfk-popup.facet {
  width: 800px;
}

dfkv-bookmark {
  a {
    path {
      stroke: $tag-gray;
      fill: $tag-gray;
    }
  }

  a.active {
    path {
      stroke: $text-color;
      fill: $text-color;
    }
  }
}
