[is='dfkv'] {
  display: flex;
  justify-content: flex-start;
  margin-right: 4.5vw;

  dfkv-search-form {
    width: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 10px;
  }

  dfkv-search-results {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;
    margin-left: 10px;

    .search-results {
      width: 100%;
    }

    .search-result {
      dfk-icon {
        width: 20px;
      }
    }

    dfk-pagination {
      height: 21px;
    }
  }
}

[is='dfkv-record'] {
  .close, .previous, .next {
    position: absolute;
    // top: 133px;
  }

  .close {
    top: 20px;
    right: 20px;
  }

  .previous {
    // left: 20px;
    margin-top: -6px;
    margin-left: -40px;
  }

  .next {
    margin-top: -6px;
    right: -40px;
  }
}

[is='dfkv-watchlist'] {
  .close {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

[is='dfkv-watchlist-trigger'] {
  margin-right: 4.5vw;
}