@mixin cera($s: 18px, $lh: 24px) {
  font-family: cera-pro, Helvetica, Arial, sans-serif;
  font-size: $s;
  line-height: $lh;
}

@mixin lyon($s: 18, $lh: 24) {
  font-family: lyon, Georgia, "Times New Roman", Times, serif;
  font-size: $s;
  line-height: $lh;
}

body.development {
  background-color: #FFD3D3;

  dfkv-result {
    background-color: white;
  }
}

.grid-box-html {
  dfkv-search {
    display: flex;
    flex-direction: row;

    color: #333333;

    a {
      color: #333333;
      text-decoration: none;
    }

    form {
      width: 250px;
      padding-right: 2rem;
      flex-grow: 0;
      flex-shrink: 0;

      input {
        width: 100%;
        line-height: 18px;
        border: 1px solid #8C8D8F;
        padding: 7px;
      }

      h2 {
        margin-top: 2rem;
      }
    }

    h2 {
      @include cera(16px, 24px);
      margin-bottom: 1rem;
      color: #333333;
    }

    hr {
      background-color: #8D8D8D;
    }

    .dfkv-results {
      flex-grow: 1;
      padding-left: 2rem;
    }
  }

  .dfkv-collapsing {
    display: block;
    float: right;
    font-weight: normal;

    input {
      display: inline-block;
      position: relative;
      top: 2px;
      margin-left: 3px;
    }
  }

  .dfkv-sorting {
    margin-bottom: 1rem;
    @include cera(16px);

    a {
      @include cera(16px);
    }
  }

  dfkv-pagination {
    display: block;
    text-align: right;
    margin-bottom: 0.5rem;

    svg {
      position: relative;
      top: 3px;
      fill: gray;
      width: 16px;
      height: 16px;
    }

    a {
      display: inline-block;
      @include cera(16px);
    }

    a.dfkv-first {
      dfkv-svg:nth-child(2) {margin-right: 0.8rem;}
      margin-right: 0.8rem;
    }

    a.dfkv-previous {
      svg {margin-right: 0.8rem;}
      margin-right: 0.8rem;
    }

    a.dfkv-next {
      svg {margin-left: 0.8rem;}
      margin-left: 0.8rem;
    }

    a.dfkv-last {
      dfkv-svg:nth-child(1) {margin-left: 0.8rem;}
      margin-left: 0.8rem;
    }
  }

  dfkv-result {
    display: block;
    border-bottom: 1px solid #8D8D8D;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .dfkv-inner {
      padding: 1rem;
    }

    .dfkv-inner:hover {
      cursor: pointer;
      background-color: #D9E6D9;
    }

    a:hover {
      text-decoration: underline;
    }

    h2 {
      @include cera(16px, 20px);
      margin-top: 3rem;
      margin-bottom: 1rem;
      color: #333333;
    }
  }

  .dfkv-filter {
    // display: block;
  }

  .dfkv-longread {
    display: block;
    transition: max-height 0ms 0ms, opacity 400ms 0ms;
  }

  .hidden {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0ms 600ms, opacity 600ms 0ms;
  }

  .dfkv-badge {
    display: inline-block;
    background-color: gray;
    margin: 5px;
    padding: 5px;
  }

  .dfkv-italic {
    font-style: italic;
  }

  .dfkv-id {
    float: right;
    color: gray;

    a {
      @include cera(18px, 24px);
      color: gray;
    }
  }

  .dfkv-creator {
    margin-bottom: 1rem;
    @include lyon(18px, 24px);
  }

  .dfkv-title {
    display: block;
    @include cera(18px, 24px);
    font-weight: bold;
  }

  .dfkv-published-in {
    @include lyon(17px, 25px);

    a {
      font-feature-settings: normal !important;
      font-variant-numeric: normal !important;
    }
  }

  .dfkv-journal {
    font-style: italic;
  }

  .dfkv-volume {
  }

  .dfkv-location {

  }

  .dfkv-date {
    
  }

  .dfkv-editor {
    @include lyon(17px, 25px);
  }

  .dfkv-rubric {
    @include lyon(17px, 25px);
  }

  .dfkv-text {
    @include lyon(18px, 24px);
    margin-top: 2rem;
  }

  .dfkv-people {
    margin-top: 1rem;
    margin-bottom: 1rem;
    @include lyon(17px, 25px);
  }

  .dfkv-attribs {
    @include lyon(17px, 25px);
  }
}