<tab class={classes()}>
  <a href="#" onclick={event => this.activate(event)}>
    <slot />
  </a>

  <script>
    export default class {
      activate(event) {
        event.preventDefault()
        if (this.props.activate) {
          this.props.activate(this.props.id)
        }
      }

      classes() {
        return this.props.activeTab == this.props.id ? 'active' : ''
      }
    }
  </script>
</tab>
