<dfkv-multi-record>
  <dfkv-record
    each={item in props.items}
    item={item}
    criteria={props.criteria}
  />

  <script>
    import Record from './record.riot'

    export default class {
      static components = {
        'dfkv-record': Record
      }
    }
  </script>
</dfkv-multi-record>
