<dfkv-watchlist class="overlay-page">
  <a class="close" href={closePath()}><dfk-icon type="cross" /></a>

  <script>
    import {Url} from '@wendig/lib'

    import Icon from '../icon.riot'

    export default class {
      static components = {
        'dfk-icon': Icon
      }

      title() {
        return 'Watchlist'
      }

      closePath() {
        const url = Url.current()
        url.setHashPath('')
        return url.formatHash() || '#'
      }
    }
  </script>
</dfkv-watchlist>
