$logo-green: #009BB5;
$header-green: #009bb5;
$hover-green: #D9E6D9;
$active-gray: #8D8D8D;
$tag-gray: #D8D8D8;
$text-color: #1e1e1e;

$sans-serif: 'cera-pro', sans-serif;
$serif: 'lyon', serif;

@import 'scss/bootstrap_light';
@import 'components';
@import 'dfkv';
@import 'wikidata';
