[is='dfkv'], dfk-routed-modal {
  pre {
    white-space: pre-wrap;
  }

  dfk-range-control {
    margin-top: 10px;
  }

  a {
    cursor: pointer;
  }
}

dfkv-fly-in {
  font-size: 0.8em;

  // dfk-fly-in {
  //   z-index: 700;
  // }

  table {
    td {
      vertical-align: top;
      padding-bottom: map-get($spacers, 3);
    }

    td:first-child {
      padding-right: map-get($spacers, 3);
      font-weight: bold;

      h1 {
        margin-top: 0;
      }
    }

    td:last-child {
      padding-right: 3em;
    }
  }

  a {
    cursor: pointer;
  }
}

dfkv-record, [is='dfkv-record'] {
  display: block;
  position: relative;
  break-before: page;
  font-family: $serif;
  font-size: 18px;
  margin-top: 30px;

  &:first-child {
    break-before: avoid;
  }

  h1 {
    font-size: 44px;
    color: $logo-green;
    padding-right: 200px;
  }

  .close, .previous, .next {
    position: absolute;
    // top: 133px;
  }

  .close {
    top: 20px;
    right: 0px;
  }

  .previous {
    // left: 20px;
    margin-top: 16px;
    margin-left: -40px;
  }

  .next {
    margin-top: 16px;
    right: -40px;
  }
}

dfk-facet {
  .header {
    font-weight: bold;
  }
}

dfkv-search-form {
  margin-right: 10px;

  width: 300px;
  flex-grow: 0;
  flex-shrink: 0;
}

body.dfkv-has-modal {
  & > * {
    visibility: hidden;
  }

  & > dfk-routed-modal {
    visibility: visible;
  }

  & > dfk-popup {
    visibility: visible;
  }

  // & > dfkv-fly-in {
  //   visibility: visible;
  // }
}

.dfkv-active-filters {
  position: relative;

  dfk-active-filters {
    a.d-block:last-child {
      margin-bottom: 0 !important;
    }
  }

  .dfkv-bar {
    position: absolute;
    left: -25px;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: $tag-gray;
  }
}

a.type-involved {
  background-color: $tag-gray;
}

a.type-creator {
  background-color: $tag-gray;
}

a.type-type {
  background-color: $tag-gray;
}

a.type-journal {
  background-color: $tag-gray;
}

[is='dfkv-watchlist'] {
  margin: 50px;

  dfkv-bookmark {
    position: absolute;
    top: 42px;
    left: -40px;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

@media print {
  body {
    padding: 0;
  }

  .expose {
    padding: 0;
  }
}

[is='dfkv-watchlist-trigger'] {
  position: relative;
  top: -3px;

  dfk-icon {
    margin-right: 3px;
    position: relative;
    top: 5px;
  }
}