.text-underline {
  text-decoration: underline;
}

dfk-range-control {
  margin-top: 10px;

  // .graph {
  //   height: 70px;
  // }
}

dfkv-fly-in, [is='dfkv-fly-in'] {
  font-size: 0.8em;

  table {
    td {
      vertical-align: top;
      padding-bottom: map-get($spacers, 3);
    }

    td:first-child {
      padding-right: map-get($spacers, 3);
      font-weight: bold;

      h1 {
        margin-top: 0;
      }
    }

    td:last-child {
      padding-right: 3em;
    }
  }
}


// html, body {
//   margin: 0;
// }

// body {
//   text-align: center;
//   padding-bottom: 100px;
//   font-family: arial;
// }

// #root {
//   overflow: auto;
// }

// h1 {
//   margin-top: 50px;
// }

// h2 {
//   margin-top: 60px;
//   margin-bottom: 30px;
//   color: #2D2D2D;
// }

// fly-in, popup {
//   h1, h2 {
//     margin-top: 20px;
//     border: none;
//   }
// }
