[is='dfkv'], dfk-routed-modal {
  padding-right: 100px;

  .close {
    top: 40px !important;
    right: 80px !important;
  }

  pre {
    white-space: pre-wrap;
  }

  dfk-range-control {
    margin-top: 10px;
  }

  a {
    cursor: pointer;
  }
}

dfkv-fly-in {
  font-size: 0.8em;

  // dfk-fly-in {
  //   z-index: 700;
  // }

  table {
    td {
      vertical-align: top;
      padding-bottom: map-get($spacers, 3);
    }

    td:first-child {
      padding-right: map-get($spacers, 3);
      font-weight: bold;

      h1 {
        margin-top: 0;
      }
    }

    td:last-child {
      padding-right: 3em;
    }
  }

  a {
    cursor: pointer;
  }
}

dfkv-record, [is='dfkv-record'] {
  display: block;
  break-before: page;
  font-family: $serif;
  font-size: 18px;

  h1 {
    font-size: 44px;
    color: $logo-green;
    padding-right: 200px;
  }

  .close, .previous, .next {
    position: absolute;
    // top: 133px;
  }

  .close {
    top: 20px;
    right: 20px;
  }

  .previous {
    // left: 20px;
    margin-top: 16px;
    margin-left: -40px;
  }

  .next {
    margin-top: 16px;
    right: -40px;
  }
}

dfk-facet {
  .header {
    font-weight: bold;
  }
}

dfkv-search-form {
  margin-right: 10px;

  width: 300px;
  flex-grow: 0;
  flex-shrink: 0;
}

body.dfkv-has-modal {
  & > * {
    visibility: hidden;
  }

  & > dfk-routed-modal {
    visibility: visible;
  }

  & > dfk-popup {
    visibility: visible;
  }

  // & > dfkv-fly-in {
  //   visibility: visible;
  // }
}

a.type-involved {
  background-color: #d9e6d9;
}

a.type-creator {
  background-color: #3bf5f4;
}

a.type-type {
  background-color: $tag-gray;
}

a.type-journal {
  background-color: $tag-gray;
}
