<!DOCTYPE html>

<html>
<head>
  <title>DFKV</title>
</head>
<body>
  <div is="dfkv-watchlist-trigger"></div>
  <h1>Deutsch-Französische Kunstvermittlung 1870–1960</h1>

  <div is="dfkv"></div>
</body>
</html>
